<div class="card-container">
  <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../stylesheets/images/pub-quiz.jpeg)">
    <div class="container">
      <h1>PUB QUIZ</h1>
      <p>Ready to get started?</p>
      <a class="btn btn-gradient" href="/quiz/0">Let's Go!</a>
    </div>
  </div>
</div>
