<div class="background">
  <div class="card-container">
    <div class="card-home">
        <div class="container">
          <h1 class="title">PUB QUIZ</h1>
          <p class="welcome">Ready for the challenge?</p>
          <a href="/quiz/0">
            <button class='glowing-btn'><span class='glowing-txt'>S<span class='faulty-letter'>T</span>ART</span></button>
        </a>
      </div>
    </div>
  </div>
</div>
