<div class="card-container">
  <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../stylesheets/images/pub-quiz.jpeg)">
    <div class="container">
      <h1 class="title">PUB QUIZ</h1>
      <p class="welcome">Ready for the challenge?</p>
      <a class="btn-gradient" href="/quiz/0">START</a>
    </div>
  </div>
</div>
