<div class="card-container">
  <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../stylesheets/images/pub-quiz.jpeg)">
    <div class="container">
      <h1 class="score">YOUR SCORE:</h1>
      <h1 class="title"><%= @score %> / 3</h1>
      <p class="message"><%= @message %></p>
      <a class="btn-gradient restart" href="/">RESTART</a>
    </div>
  </div>
</div>
