.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(rgba(67, 32, 239, 0.5), rgba(8, 46, 237, 0.5));
  transition: background 0.3s ease;
  border: 1px solid 	rgba(87, 236, 244, 0.2);
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
}

.btn-gradient:hover {
  color: white;
  background: linear-gradient(#5b20ef, #0F60C4);
  box-shadow: 0 0 5px #57ecf4, 0 0 25px #57ecf4, 0 0 50px #57ecf4, 0 0 200px #57ecf4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.option {
  width: 121px;
  font-size: medium;
  padding: 8px 12px;
  font-family: 'Roboto', sans-serif;
}

.restart {
  font-size: medium;
  margin-top: 20px;
}
