.card-home {
  background-size: cover;
  background-position: center;
  height: 550px;
  width: 1550px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  backdrop-filter: blur(5px);
  /* From https://css.glass */
  background: rgba(142, 244, 251, 0.04);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(142, 244, 251, 0.44);
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
      10% {
        opacity: 0.2;
      }
      100% {
        opacity: 1;
      }
  }


.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.options {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 580px;
  margin-top: 30;
  margin-bottom: -20px;
}

.question {
  width: 80%;
  font-size: 26;
  font-family: 'Sarpanch', sans-serif;
  font-weight: 400;
  margin-bottom: 32px;
}

.title {
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 900;
  font-size: 72;
  margin-bottom: 30px;
}

.score {
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 400;
  font-size: 18;
  margin-top: -35px;
  margin-bottom: 20px;
}

.message {
  margin-top: -8px;
  margin-bottom: 60px;
  font-size: 32px;
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 4px #fff,
    0 0 8px #fff,
    0 0 12px #fff,
    0 0 42px rgb(255, 89, 0),
    0 0 82px rgb(255, 89, 0),
    0 0 92px rgb(255, 89, 0),
    0 0 102px rgb(255, 89, 0),
    0 0 151px rgb(255, 89, 0);
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

@keyframes pulsate {
    
  100% {

    text-shadow:
      0 0 2px #fff,
      0 0 9px #fff,
      0 0 14px #fff,
      0 0 40px rgb(255, 89, 0),
      0 0 80px rgb(255, 89, 0),
      0 0 90px rgb(255, 89, 0),
      0 0 100px rgb(255, 89, 0),
      0 0 150px rgb(255, 89, 0);
  
  }
  
  0% {

    text-shadow:
      0 0 2px #fff,
      0 0 8px #fff,
      0 0 12px #fff,
      0 0 38px rgb(255, 89, 0),
      0 0 73px rgb(255, 89, 0),
      0 0 80px rgb(255, 89, 0),
      0 0 94px rgb(255, 89, 0),
      0 0 140px rgb(255, 89, 0);

  }
}